{% extends 'app/base.html' %}

{% block content %}

<div class="card shadow border-0 p-4">

    {% if food.image %}

    <img
        src="{{ food.image.url }}"
        class="img-fluid rounded mb-4"
        style="height:400px; object-fit:cover;"
    >

    {% endif %}

    <h1>
        {{ food.name }}
    </h1>

    <h5 class="text-muted">
        {{ food.category }}
    </h5>

    <h2 class="price my-3">
        ₹{{ food.price }}
    </h2>

    <p>
        {{ food.description }}
    </p>

    <a
        href="/add-to-cart/{{ food.id }}/"
        class="btn custom-btn mt-3"
    >
{% endblock %}