{% extends 'app/base.html' %}

{% block content %}

<h1 class="mb-4">
    📦 My Orders
</h1>

{% if orders %}

    {% for order in orders %}

    <div class="card mb-3 shadow-sm">

        <div class="card-body">

            <h3>
                {{ order.food_item.name }}
            </h3>

            <h5 class="text-danger">
                ₹{{ order.food_item.price }}
            </h5>

            <p>
                Ordered on:
                {{ order.ordered_at }}
            </p>

        </div>

    </div>

    {% endfor %}

{% else %}

<div class="alert alert-warning">

    No orders yet.

</div>

{% endif %}

{% endblock %}